<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-7 ">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title pull-left"><%= @user.name %> Profile</div>
          <% if @user == current_user %>
            <%= link_to 'Efit Profile', edit_user_registration_path, class: 'panel-title pull-right' %>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="box box-info">

            <div class="box-body">
              <div class="col-sm-6">
                <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;" >click here to change profile image</div>
                  <!--Upload Image Js And Css-->
                </div>

                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <% unless current_user.subscriptions.exists?(friend_id: @user) %>
                  <h4 style="color:#00b1b1;"><%= link_to 'Подписаться', subscribe_path(@user) %></h4></span>
                <% else%>
                  <h4 style="color:#00b1b1;"><%= link_to 'Отписаться', unsubscribe_path(@user) %></h4></span>
                <% end %>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">


              <div class="col-sm-5 col-xs-6 tital " >Имя пользователя: </div><div class="col-sm-7 col-xs-6 "><%= @user.name %></div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Дата регистрации: </div><div class="col-sm-7"><%= @user.created_at.to_date %></div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Количество постов: </div><div class="col-sm-7"><%= link_to @user.posts.count, selected_user_posts_path %></div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
    <script>
        $(function() {
            $('#profile-image1').on('click', function() {
                $('#profile-image-upload').click();
            });
        });
    </script>
  </div>
</div>